<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Movies </title>
</head>
<body>
     <h1><%= movies.title %> </h1>
     <button>Edit</button>
     <button>Delete</button>
     <section>
         <article>
             <p>Awards:<%= movies.awards %> </p>
         </article>
         <Article>
             <p>Duration:<%= movies.length %>  </p>
         </Article>
         <article>
             <p>Release date: <%= movies.release_date %> </p>

         </article>
     </section>
     
    
</body>
</html>